useDynLib("ndl")
export("acts2probs",
"anova.ndlClassify",
"cooccurrenceCues",
"cooccurrenceCuesOutcomes",
"crosstableStatistics",
"cueCoding",
"estimateActivations",
"estimateWeights",
"ndlClassify",
"ndlCrossvalidate",
"ndlCuesOutcomes",
"ndlStatistics",
"ndlVarimp",
"modelStatistics",
"orthoCoding",
"print.ndlClassify",
"summary.ndlClassify",
"print.summary.ndlClassify",
"predict.ndlClassify",
"summary.ndlCrossvalidate",
"print.summary.ndlCrossvalidate",
"RescorlaWagner",
"plot.RescorlaWagner",
"plot.ndlClassify",
"plot.ndlWeights",
"plot.ndlProbabilities")
